.newspaper-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
        "title title title"
        "feature-article feature-article cover-image"        
        "secondary-article secondary-article cover-image"
        "small-article1 small-article2 small-article3";
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;    
}

.title {
    grid-area: title;
    text-align: center;
    border-bottom: 4px double #000;   
}

.feature-article {
    grid-area: feature-article;
}

.secondary-article {
    grid-area: secondary-article;
}

.cover-image {
    grid-area: cover-image;
  }

.small-article1 {
    grid-area: small-article1;
}

.small-article2 {
    grid-area: small-article2;
}
.small-article3 {
    grid-area: small-article3;
}

.cover-image img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    width: 100%;
}