body {
  font-family: sans-serif;
  text-align: center;
  background-color: #eee;
  color: #333;
  margin: 0;
}

#main {
  margin: 30px auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 1000px;
}

#img-div {
  background-color: #eee;
  padding: 10px;
  margin: 20px 0;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#img-caption {
  margin: 15px 0 5px 0;
}

#tribute-info {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}